<div class="intro-x">
    <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
        <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
            <img alt="Icewall Tailwind HTML Admin Template" src="{{ profile.image.url }}">
        </div>
        <div class="ml-4 mr-auto">
            <div class="font-medium">{{profile.user.username}}</div>
            <div class="text-gray-600 text-xs mt-0.5">{{profile.first_name}} {{profile.last_name}}</div>
        </div>
    </div>
</div>

