{% load humanize %}
<div class="blog__preview image-fit">
    <img alt="Icewall Tailwind HTML Admin Template" class="rounded-t-md" src="{{ post.image.url }}">
    <div class="absolute w-full flex items-center px-5 pt-6 z-10">
        <div class="w-10 h-10 flex-none image-fit">
            <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full" src="{{ post.author.profile.image.url }}">
        </div>
        <div class="ml-3 text-white mr-auto">
            <a href="{% url 'blog:profile_detail' post.author.profile.id %}" class="font-medium">{{post.author.username}}</a> 
            <div class="text-xs mt-0.5">{{post.creation_date|naturalday}} at {{post.creation_date|date:'H:i'}}</div>
        </div>
        {% if user == post.author %}
        <div class="dropdown ml-3">
            <a href="javascript:;" class="blog__action dropdown-toggle w-8 h-8 flex items-center justify-center rounded-full" aria-expanded="false"> <i class="bi bi-three-dots-vertical text-white" ></i></a>
            <div class="dropdown-menu w-40">
                <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                    <a href="{% url 'blog:post_update' post.id %}" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i class="bi bi-pencil-square mr-2"></i> Edit </a>
                    <a href="javascript:;" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md modal_trigger" data-tw-target="post_delete_{{post.id}}"> <i class="bi bi-x-circle mr-2"></i> Delete </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="absolute bottom-0 text-white px-5 pb-6 z-10">
        {% for tag in post.tags.names %}
            <span class="blog__category px-2 py-1 rounded">{{tag}}</span> 
        {% endfor %}
        <a href="{% url 'blog:post_detail' post.id %}" class="block font-medium text-xl mt-3">{{post.title}}</a>
        </div>
</div>

<div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">

    <div class="mb-4 font-medium"> {{post.subtitle}} </div>
    <div class="w-full flex text-gray-600 text-xs sm:text-sm">
        <div class="mr-2"> <span class="font-medium"></span>{{post.comment_count}} <i class="bi bi-chat-right"></i> </div>
        <div class="mr-2"> <span class="font-medium">{{post.like_count}}</span> 
        {%if post.liked %}
            <i class="bi bi-heart-fill"></i> 
        {%else%}
            <i class="bi bi-heart"></i> 
        {%endif%}
        </div>
        <div class="ml-auto"> <a href="{% url 'blog:post_detail' post.id %}" class="text-primary block"> Read more </a>  </div>
    </div>
</div>

{% include 'partials/post/delete_modal.html' with post=post %}