{% load humanize %}

<div class="intro-y blog col-span-5 md:col-span-6 box infinite-item">
    <div class="blog__preview image-fit">
        <img alt="Icewall Tailwind HTML Admin Template" class="rounded-t-md" src="{{ post.picture.url }}">
        <div class="absolute w-full flex items-center px-5 pt-6 z-10">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full" src="{{ post.picture.url }}">
            </div>
            <div class="ml-3 text-white mr-auto">
                <a href="" class="font-medium">{{post.user.username}}</a> 
                <div class="text-xs mt-0.5">{{post.creation_date|naturalday}} at {{post.creation_date|date:'H:i'}}</div>
            </div>
            {% if user == post.user %}
            <div class="dropdown ml-3">
                <a href="javascript:;" class="blog__action dropdown-toggle w-8 h-8 flex items-center justify-center rounded-full" aria-expanded="false"> <i class="bi bi-three-dots-vertical text-white" ></i></a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i class="bi bi-pencil-square mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i class="bi bi-x-circle mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="absolute bottom-0 text-white px-5 pb-6 z-10"> <span class="blog__category px-2 py-1 rounded">Tags &amp; GoHere</span> <a href="" class="block font-medium text-xl mt-3">{{post.post_title}}</a> </div>
    </div>
    <div class="p-5 text-gray-700 dark:text-gray-600">{{post.post_text|slice:":50"}}</div>
    
    <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
        <div class="w-full flex text-gray-600 text-xs sm:text-sm">
            <div class="mr-2"> Comments: <span class="font-medium">{{post.comment_set.all | length}}</span> </div>
            <div class="ml-auto"> Likes: <span class="font-medium">{{post.likes | length}}</span> </div>
        </div>
    </div>
</div>