{% extends "base.html" %}

{% block body%}
<div class = "container-field">

    <div class = "row">

        <div class = "col-md-4 col-md-offset-4">
            <div class="panel panel-primary ">
              <div class="panel-header text-center">
                  <h1>Login!</h1>
              </div>
                <div class = "panel-body">
                    
                    <form class = "form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include "registration/basic_form.html" %}
                        <div class = "form-horizontal">
                                <div>
                                        <br>
                                        <button type="submit" class="btn btn-primary container-fluid text-center" > <h4>Submit</h4> </button>
                                </div>
                            
                            
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
