<!-- BEGIN: Side Menu -->
<nav class="side-nav">
    <ul>

        <li>
            <a href="{% url 'blog:index'  %}" class="side-menu-main side-menu" id="browse" >
                <div class="side-menu__icon"> <i class="bi bi-house"></i> </div>
                <div class="side-menu__title"> Browse </div>
            </a>
        </li>
        <li>
            <a href="{% url 'chat:chat_index'  %}" class="side-menu-main side-menu" id="chat" >
                <div class="side-menu__icon"> <i class="bi bi-chat-dots"></i> </div>
                <div class="side-menu__title"> Chats </div>
            </a>
        </li>
        
        <li>
            <a href="javascript:;" class="side-menu-main side-menu">
                <div class="side-menu__icon"> <i class="bi bi-layout-text-window-reverse"></i> </div>
                <div class="side-menu__title">
                    Moderated blogs 
                    {% if "blog" in active_tab %}
                    <div class="side-menu__sub-icon transform rotate-180"> <i data-feather="chevron-down"></i> </div>
                    {% else %}
                    <div class="side-menu__sub-icon transform"> <i data-feather="chevron-down"></i> </div>
                    {% endif %}
                </div>
            </a>
            <ul class="side-menu__sub">
                {% for blog in user.blog_set.all %}
                    <li>
                        <a href="{% url 'blog:blog_detail' blog.id %}" class="side-menu" id="blog{{blog.id}}" >
                            <div class="w-6 h-6 flex-none image-fit side-menu__icon">
                                <img src="{{ blog.image.url }}" alt="" class="rounded-full">
                            </div>
                            <div class="side-menu__title"> {{ blog.title }} </div>
                        </a>
                    </li>
                {% endfor %}
                {% for blog in user.moderators.all %}
                    {% if blog not in user.blog_set.all %}
                        <li>
                            <a href="{% url 'blog:blog_detail' blog.id %}" class="side-menu" id="blog{{blog.id}}" >
                                <div class="w-6 h-6 flex-none image-fit side-menu__icon">
                                    <img src="{{ blog.image.url }}" alt="" class="rounded-full">
                                </div>
                                <div class="side-menu__title"> {{ blog.title }} </div>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                <li>
                    <a href="{% url 'blog:blog_create'  %}" class="side-menu" id="new_blog" >
                        <div class="side-menu__icon"> <i class="bi bi-pencil-square"></i> </div>
                        <div class="side-menu__title"> Create new blog </div>
                    </a>
                </li>
                
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="side-menu-main side-menu">
                <div class="side-menu__icon"> <i class="bi bi-layout-text-window-reverse"></i> </div>
                <div class="side-menu__title">
                    Subscribed blogs 
                    {% if "subscribed" in active_tab %}
                    <div class="side-menu__sub-icon transform rotate-180"> <i data-feather="chevron-down"></i> </div>
                    {% else %}
                    <div class="side-menu__sub-icon transform"> <i data-feather="chevron-down"></i> </div>
                    {% endif %}
                </div>
            </a>
            <ul class="side-menu__sub">
                {% for blog in user.blog_set.all%}
                    {% if user in blog.subscribers.all and user != blog.author %}
                    <li>
                        <a href="{% url 'blog:blog_detail' blog.id %}" class="side-menu" id="blog{{blog.id}}" >
                            <div class="w-6 h-6 flex-none image-fit side-menu__icon">
                                <img src="{{ blog.image.url }}" alt="" class="rounded-full">
                            </div>
                            <div class="side-menu__title"> {{ blog.title }} </div>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </li>

        <li>
            <a href="javascript:;" class="side-menu-main side-menu">
                <div class="side-menu__icon"> <i class="bi bi-ui-checks-grid"></i> </div>
                <div class="side-menu__title">
                    Browse categories
                    {% if "category" in active_tab %}
                    <div class="side-menu__sub-icon transform rotate-180"> <i data-feather="chevron-down"></i> </div>
                    {% else %}
                    <div class="side-menu__sub-icon transform"> <i data-feather="chevron-down"></i> </div>
                    {% endif %}
                </div>
            </a>
            <ul class="side-menu__sub">
                {% for category in categories %}
                    <li>
                        <a href="{% url 'blog:category_detail' category.id  %}" class="side-menu" id="category{{category.id}}" >
                            <div class="side-menu__title"> {{ category.name }} </div>
                        </a>
                    </li>
                {% endfor %}
                
            </ul>
        </li>

        <li>
            <a href="{% url 'blog:friend_list'  %}" class="side-menu-main side-menu" id="friends" >
                <div class="side-menu__icon"> <i class="bi bi-people"></i> </div>
                <div class="side-menu__title"> Friends </div>
            </a>
        </li>

        <li>
            <a href="{% url 'blog:recieved_friend_requests'  %}" class="side-menu-main side-menu" id="friend_request" >
                <div class="side-menu__icon"> <i class="bi bi-person-plus"></i> </div>
                <div class="side-menu__title"> Friend requests </div>
            </a>
        </li>


    </ul>
</nav>
<!-- END: Side Menu -->