<!-- BEGIN: Top Bar -->
<div class="top-bar-boxed border-b border-theme-2 -mt-7 md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 md:pt-0 mb-12">
    <div class="h-full flex items-center">
        <!-- BEGIN: Logo -->
        <a href="" class="-intro-x hidden md:flex">
            <!-- <img alt="Icewall Tailwind HTML Admin Template" class="w-6" src="dist/images/logo.svg"> -->
            <span class="text-white text-lg ml-3"> App<span class="font-medium">lication</span> </span>
        </a>
        <!-- END: Logo -->
        <!-- BEGIN: Breadcrumb -->
        <div class="-intro-x breadcrumb mr-auto"> </div>
        <!-- END: Breadcrumb -->
        {% include "partials/top_bar/search.html" %}

        {% include "partials/top_bar/account_menu.html" %}
        
        
    </div>
</div>
<!-- END: Top Bar -->