{% extends 'base.html' %}   
{% block title %}Welcome to Blogo{% endblock title %}

{% block content %}
{% csrf_token %}
<!-- BEGIN: Profile Info -->
<div class="intro-y box px-5 pt-5 mt-5">
    <div class="flex flex-col lg:flex-row border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
        <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full" src="{{ profile.image.url }}">
            </div>
            <div class="ml-5">
                <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{profile.user.username}}</div>
                <div class="text-gray-600">{{profile.first_name}} {{profile.last_name}}</div>
            </div>
        </div>
        <div class="mt-6 lg:mt-0 flex-1 dark:text-gray-300 px-5 border-l border-r border-gray-200 dark:border-dark-5 border-t lg:border-t-0 pt-5 lg:pt-0">
            <div class="font-medium text-center lg:text-left lg:mt-3">Contact Details</div>
            <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                <div class="truncate sm:whitespace-normal flex items-center"> <i class="bi bi-envelope w-5 h-5 mr-2"></i> {{profile.user.email}} </div>
                <div class="truncate sm:whitespace-normal flex items-center mt-1"> <i class="bi bi-people w-5 h-5 mr-2"></i> {{profile.friends.all | length}} Friends</div>
            </div>
        </div>
        <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-gray-200 dark:border-dark-5 pt-5 lg:pt-0">
            {% if profile.user == user %}
            <div class="flex mt-4 lg:mt-0">
                <a href="{% url 'blog:profile_update' profile.id %}" class="btn btn-primary py-1 px-2 mr-2"> <i class="bi bi-pencil-square mr-2"></i> Edit profile</a>
            </div>
            {% elif profile.user in user.profile.friends.all %}
                <div class="flex mt-4 lg:mt-0 request_options" >
                    <a href="javascript:;" data-href="{% url 'blog:delete_friend' profile.id %}" class="btn btn-primary py-1 px-2 mr-2 add-remove-friend"> <i class="bi bi-person-dash mr-2"></i> Remove friend </a>
                </div>
                <div id="success_note" class="hidden text-gray-600 text-xs mt-0.5 text-center">
                    Removed from friends
                </div>
            {% elif friend_request_id %}
                <div class="request_options">
                    <div class="text-gray-600 text-xs mb-3">Friend request: </div>
                    <a href="javascript:;" class="btn btn-primary w-24 friend_request_action" data-show="accepted-{{friend_request_id}}" data-href="{% url 'blog:accept_friend_request' friend_request_id %}" >Accept</a>
                    <a href="javascript:;" class="btn btn-outline-secondary w-24 mr-1 friend_request_action" data-show="declined-{{friend_request_id}}" data-href="{% url 'blog:cancel_friend_request' friend_request_id %}" >Decline</a>
                </div>

                <div id="accepted-{{friend_request_id}}" class="hidden">
                    <div class="text-gray-600 text-xs mt-0.5">Friend request accepted</div>
                </div>

                <div id="declined-{{friend_request_id}}" class="hidden">
                    <div class="text-gray-600 text-xs mt-0.5">Friend request declined</div>
                </div>
            {% elif profile.user in user.profile.pending_friends.all %}
                <div id="success_note" class="text-gray-600 text-xs mt-0.5 text-center">
                    Friend request sent
                </div>
            {% else %}
                <div class="flex mt-4 lg:mt-0 request_options" >
                    <a href="javascript:;" data-href="{% url 'blog:send_friend_request' profile.id %}" class="btn btn-primary py-1 px-2 mr-2 add-remove-friend"> <i class="bi bi-person-plus mr-2"></i> Add friend </a>
                </div>
                <div id="success_note" class="hidden text-gray-600 text-xs mt-0.5 text-center">
                    Friend request sent
                </div>
            {% endif %}
        </div>
    </div>
    
</div>
<!-- END: Profile Info -->

{% endblock content %}
