{% load humanize %}
<div class="mt-5 intro-x">
    <div class="box zoom-in">
        <div class="px-5 py-3  flex items-center">
            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden" >
                <img alt="Icewall Tailwind HTML Admin Template" src="{{ blog.image.url }}" >
            </div>
            <div class="ml-4 mr-auto">
                <div class="font-medium">{{blog.title}}</div>
                <div class="text-gray-600 text-xs mt-0.5" > <span id="subscribers"> {{ blog.subscribers.all|length|intcomma }} </span> Subscribers</div>
            </div>
        </div>        
        <div class="text-gray-600 px-5 py-3 text-justify">{{blog.description}}</div>        
    </div>
</div>