{% extends 'base.html' %}   
{% block title %}Welcome to Blogo{% endblock title %}

{% block content %}
{% load static %}
<div class="intro-y flex flex-col grid-cols-12 col-span-12 sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Search results
    </h2>
</div>
<div class="intro-y grid-cols-12 col-span-12 grid gap-6 mt-5">
    <!-- BEGIN: Blog Layout -->
    
    <div class="2xl:col-span-12 col-span-12 ">
        <div class="grid-cols-12 grid" style="overflow: visible;">
            {% if profiles|length > 0 %}
                <h2 class="text-lg font-medium mr-auto">
                    People
                </h2>
            {% endif %}
            <div class="intro-y blog col-span-12 grid grid-cols-12 gap-3 m-3 infinite-container"> 
                
                {% for profile in profiles %}
                    <a href="{% url 'blog:profile_detail' profile.id %}" class="intro-y blog col-span-4 m-10 infinite-item">
                        {% include 'partials/common/user_thumb.html' with profile=profile %}
                    </a>
                {% endfor %}
            </div>
            
        </div>
        {% if page_obj.has_next %}
            {% include 'partials/common/loader.html' %}  
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}&&param={{search_param}}"></a>
        {% endif %} 
    </div>     
</div> 

{% endblock content %}
