<div class="post-thumb">

    <!-- Post Create -->
    <div>
        <form action="{% url 'blog:post_create' blog.id %}" method="post" visible = "off">
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn-link">Create a new post</button>
            </div>
        </form> 
    </div>
        <br>
        <!-- Blog Update -->
    <div >
        <form action="{% url 'blog:blog_update' blog.id %}" method="post" visible = "off">
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn-link">Update your blog</button>
            </div>
        </form>
    </div>
        <br>
        <!-- Blog Delete -->
    <div>
        <form action="{% url 'blog:blog_delete' blog.id %}" method="post" visible = "off">
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn-link">Delete blog</button>
            </div>
        </form>
    </div>

</div>
