<h2>Comments</h2>
<br>
<!-- Comment list  -->
<ul class="comment-list" style="list-style-type:none">
    {% for comment in blogpost.comment_set.all %}
        <li>
            <div class="comment-content col-md-7">
                <p><span class="comment-date">{{comment.creation_date|date:"j M Y"}} at {{comment.creation_date|date:"H:i"}}</span></p> 
                <h4><strong>{{comment.user.username}}</strong></h4>
                <p id="comtext">{{comment.comment_text}}</p>
                
                {% if user == comment.user %}
                <div class="container-fluid comment-buttons padding-bottom-10">
                    <div class="row">
                        <button type="submit " class="btn-link btn-cupdate">Edit</button>
                        <button type="submit" data-url="{% url 'blog:comment_delete' comment.id %}" class="btn-link btn-cdelete">Delete</button>
                    </div>
                </div>
                {% endif %}
                

                <div class="comment-text-update hidden padding-bottom-10">
                    <div class="form-group">
                        <textarea class="form-control" name="comment_text" id="comment_text" maxlength="3000" cols="30" rows="10" placeholder="Add your comment here" required >{{comment.comment_text}}</textarea>
                    </div>
                    <button data-url="{% url 'blog:comment_update' comment.id %}" type="submit" class="btn btn-link update-com">Confirm</button>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

<!-- New comment form -->
<form data-action="{% url 'blog:comment_create' blogpost.id %}" method="post" class="comment-form">
    {% csrf_token %}
    
    <div class="text-center">
    <div class="form-group">
        <textarea class="comment-text" name="comment_text" id="id_comment_text" maxlength="3000" cols="30" rows="10" placeholder="Add your comment here" required ></textarea>
    </div>
    <button type="submit " class="btn btn-link" id="comment-post">Post Comment</button>
    </div>
</form>

<!-- Empty comment for jquery -->
<li class="hidden" id="emptycom">
    <div class="comment-content col-md-7">
        <p><span class="comment-date" id="comdate">{{comment.creation_date|date:"j M Y"}} at {{comment.creation_date|date:"H:i"}}</span></p> 
        <h4><strong id="comuser">{{comment.user.username}}</strong></h4>
        <p id="comtext">{{comment.comment_text}}</p>

        <div class="container-fluid comment-buttons padding-bottom-10">
            <div class="row">
                <button type="submit " class="btn-link btn-cupdate">Edit</button>
                <button type="submit" data-url="{% url 'blog:comment_delete' 0 %}" class="btn-link btn-cdelete">Delete</button>
            </div>
        </div>

        <div class="comment-text-update hidden padding-bottom-10">
            <div class="form-group">
                <textarea class="form-control" name="comment_text" id="comment_text" maxlength="3000" cols="30" rows="10" placeholder="Add your comment here" required >{{comment.comment_text}}</textarea>
            </div>
            <button data-url="{% url 'blog:comment_update' 0 %}" type="submit" class="btn btn-link update-com">Confirm</button>
        </div>
    </div>
</li>
     