<div class="text-center">
    <img src="{{ post.picture.url }}" alt="" >
</div>
<br><br>
<div class="text-right ">
    {% if  user in blogpost.likes.all %}
    <a href = "#" class="like_button btn btn-primary mr-50 pt-30" data-href="{% url 'blog:post_like' blogpost.id %}" data-post_id = "{{blogpost.id}}" ><i class="glyphicon glyphicon-heart liked" ></i><span id = "like-counter">&nbsp;{{blogpost.likes.count}}</span></a>
    {% else %}
    <a href = "#" class="like_button btn btn-primary mr-50 pt-30" data-href="{% url 'blog:post_like' blogpost.id %}" data-post_id = "{{blogpost.id}}" ><i class="glyphicon glyphicon-heart-empty liked" ></i><span id = "like-counter">&nbsp;{{blogpost.likes.count}}</span></a>
    {% endif %}
</div>

<h5 class="grey-text"> by {{ post.user.username }}</h5>

<h5 class="grey-text">{{post.creation_date|date:'d M Y'}} at {{post.creation_date|date:'H:i'}}</h5>

<a href="#" class="thumb-link">
    <h3>{{post.post_title}}</h3>
</a>

<p class="padding-bottom-20">&nbsp;{{post.post_text}}</p>

<div class="tags-area">
    {% for tag in post.tags.names %}
        <a href="#" class="btn-link">{{tag}}</a>
    {% endfor %}      
</div>
<br>


<div class="padding-left-100">
    {% include "partials/comment_area.html" %}
</div>