<!-- BEGIN: Notifications -->
<div class="intro-x dropdown mr-4 sm:mr-6">
    <div class="dropdown-toggle notification notification--bullet cursor-pointer" role="button" aria-expanded="false"> <i data-feather="bell" class="notification__icon dark:text-gray-300"></i> </div>
    <div class="notification-content pt-2 dropdown-menu">
        <div class="notification-content__box dropdown-menu__content box dark:bg-dark-6">
            <div class="notification-content__title" id="notifications">Notifications</div>
            
            
        </div>
    </div>
</div>


<div class="cursor-pointer relative flex items-center hidden notification-thumb" id="empty-notification">
    <div class="w-12 h-12 flex-none image-fit mr-1">
        <img alt="" class="rounded-full" id="profile-pic" src="">
    </div>
    <div class="ml-2">
        <div class="flex items-center">
            <a href="#" id="title" class="font-medium truncate mr-5"></a> 
            <div id="created_at" class="text-xs text-gray-500 ml-auto whitespace-nowrap"></div>
        </div>
        <div class="w-full truncate text-gray-600 mt-0.5" id="text"></div>
    </div>
</div>

<!-- END: Notifications -->