{% extends 'base.html' %}   
{% block title %}Welcome to Blogo{% endblock title %}

{% block content %}

<div class="intro-y flex flex-col grid-cols-12 col-span-12 sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Home page
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0 ml-auto content-end	">
        <a class="btn btn-primary shadow-md mr-2" href="{% url 'blog:blog_create'%}">Create a blog</a>
        <div class="dropdown ml-auto sm:ml-0">
            <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
                <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
            </button>
            <div class="dropdown-menu w-40">
                <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="share-2" class="w-4 h-4 mr-2"></i> Share Post </a>
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="download" class="w-4 h-4 mr-2"></i> Download Post </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro-y grid-cols-12 col-span-10 col-start-2 grid gap-6 mt-5 infinite-container">
    <!-- Infinite scroll for posts -->
    {% for post in all_posts %}
        <div class="intro-y blog col-span-5 md:col-span-6 box infinite-item">
            {% include 'partials/post/thumb.html' with post=post %}
        </div>
    {% endfor %}
    <!-- End infinite scroll for posts -->
</div> 

{% if page_obj.has_next %}
    {% include 'partials/common/loader.html' %}  
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
{% endif %} 

    
{% endblock content %}


