{% extends 'base.html' %}   
{% block title %}Welcome to Blogo{% endblock title %}

{% block content %}

<div class="intro-y flex flex-col grid-cols-12 col-span-12 sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-4">
        Popular
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0 ml-auto content-end	">
        <a class="btn btn-primary shadow-md mr-2" href="{% url 'blog:blog_create'%}">Create a blog</a>
    </div>
</div>
<div class="intro-y grid-cols-12 col-span-10 col-start-2 grid gap-6 mt-5 infinite-container">
    <!-- Infinite scroll for posts -->
    {% for post in all_posts %}
        <div class="intro-y blog col-span-5 md:col-span-6 box infinite-item">
            {% include 'partials/post/thumb.html' with post=post %}
        </div>
    {% endfor %}
    <!-- End infinite scroll for posts -->
</div> 

{% if page_obj.has_next %}
    {% include 'partials/common/loader.html' %}  
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
{% endif %} 

    
{% endblock content %}


