<div class="flex flex-col sm:flex-row border-b border-gray-200 dark:border-dark-5 px-5 py-4">
    <div class="flex items-center">
        <div class="w-10 h-10 sm:w-12 sm:h-12 flex-none image-fit relative">
            <img alt="Rubick Tailwind HTML Admin Template" class="rounded-full" src="{{user.profile.image.url}}">
        </div>
        <div class="ml-3 mr-auto">
            <div class="font-medium text-base">Username</div>
            <div class="text-gray-600 text-xs sm:text-sm">First and last name</div>
        </div>
    </div>
</div>