<div class="intro-x cursor-pointer box relative flex items-center p-5 ">
    <div class="w-12 h-12 flex-none image-fit mr-1">
        <img alt="Rubick Tailwind HTML Admin Template" class="rounded-full" src="{{user.profile.image.url}}">
    </div>
    <div class="ml-2 overflow-hidden">
        <div class="flex items-center">
            <a href="javascript:;" class="font-medium">Kevin Spacey</a> 
        </div>
        <div class="w-full truncate text-gray-600 mt-0.5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
    </div>
    <div id="message_notification">
        <div class="w-5 h-5 flex items-center justify-center absolute top-0 right-0 text-xs text-white rounded-full bg-theme-1 font-medium -mt-1 -mr-1">!</div>
    </div>
</div>