<div class="chat__box__text-box hidden flex items-end float-left mb-4" id="friend_hidden_message">
    <div class="w-10 h-10 hidden sm:block flex-none image-fit relative mr-5">
        {% if chat.user1 == user %}
            <img alt="Rubick Tailwind HTML Admin Template" class="rounded-full" src="{{chat.user2.profile.image.url}}" id="image">
        {% else %}
            <img alt="Rubick Tailwind HTML Admin Template" class="rounded-full" src="{{chat.user1.profile.image.url}}" id="image">
        {% endif %}
        
    </div>
    <div class="bg-gray-200 dark:bg-dark-5 px-4 py-3 text-gray-700 dark:text-gray-300 rounded-r-md rounded-t-md">
        <span id="text"></span>
    </div>
</div>