<div class="chat-select {{user.profile.first_name}}-{{user.profile.last_name}}-{{user.username}} cursor-pointer box relative flex items-center p-5 mt-5 friend-thumb" data-href="{% url 'chat:friend_chat' user.id %}">
    <div class="w-12 h-12 flex-none image-fit mr-1">
        <img alt="Rubick Tailwind HTML Admin Template" class="rounded-full" src="{{user.profile.image.url}}">
        <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
    </div>
    <div class="ml-2 overflow-hidden">
        <div class="flex items-center"> <a href="" class="font-medium">{{user.username}}</a> </div>
        <div class="w-full truncate text-gray-600 mt-0.5">{{user.profile.first_name}} {{user.profile.last_name}}</div>
    </div>
</div>
