<div class="clear-both"></div>
<div class="chat__box__text-box flex items-end float-left mb-4">
    <div class="w-10 h-10 hidden sm:block flex-none image-fit relative mr-5">
        <img alt="Rubick Tailwind HTML Admin Template" class="rounded-full" src="{{user.profile.image.url}}">
    </div>
    <div class="bg-gray-200 dark:bg-dark-5 px-4 py-3 text-gray-700 dark:text-gray-300 rounded-r-md rounded-t-md">
        Lorem ipsum sit amen dolor, lorem ipsum sit amen dolor 
        <div class="mt-1 text-xs text-gray-600">2 mins ago</div>
    </div>
</div>