{% extends "base.html" %}

{% block content%}
<div class="intro-y chat grid grid-cols-12 gap-5 mt-5">
    <!-- BEGIN: Chat Side Menu -->
    <div class="col-span-12 lg:col-span-4 2xl:col-span-3">
        <div class="intro-y pr-1">
            <div class="box p-2">
                <div class="chat__tabs nav nav-tabs justify-center" role="tablist"> 
                    <a id="friend-tab" data-toggle="tab" data-target="#friend" href="javascript:;" class="flex-1 py-2 rounded-md text-center active" role="tab" aria-controls="friend" aria-selected="true">Friends</a> 
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="friend" class="tab-pane active" role="tabpanel" aria-labelledby="friend-tab">
                <div class="pr-1">
                    <div class="box p-5 mt-5 w-auto">
                        <div class="font-medium py-3"> Search friends: </div>
                        <div class="relative text-gray-700 dark:text-gray-300">
                            <form action="" id="friend_search_form">
                                <input type="text" id="search_param" minlength="3" class="search__input form-control dark:bg-dark-1 border-transparent placeholder-theme-8" placeholder="Search...">
                                <div class="text-center mt-5">
                                    <button type="submit" class="btn btn-primary w-24" >Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="chat__user-list overflow-y-scroll pr-1 pt-1" id="friend-list">
                    {% for user in user.profile.friends.all|dictsort:"username" %}
                        {% include "partials/friend_thumb.html" with user=user%}
                    {% endfor %}                  
                </div>
            </div>
        </div>
    </div>
    <!-- END: Chat Side Menu -->
    <!-- BEGIN: Chat Content -->
    <div class="intro-y col-span-12 lg:col-span-8 2xl:col-span-9">
        <div class="chat__box box">
            <!-- BEGIN: Chat Active -->
            <div class="h-full flex flex-col">
                
                {% include 'partials/chat_header.html' %}
                <div class="overflow-y-scroll  px-5 pt-5 flex-1 infinite-container-chat" id="chat-content">
                    {% if page_obj.has_next %}
                        {% include 'partials/common/loader.html' %}
                    {% endif %} 
                        <div class="hidden" id="trigger-load"></div>
                        <div class="hidden" id="after-this"></div>
                        {% include 'partials/friend_hidden_message.html' %}
                        {% include 'partials/user_hidden_message.html' %}
                        
                        {% for message in messages reversed %}
                        {% if forloop.first %}
                            <div class="infinite-item">
                                {% if user.id == message.user.id %}
                                    {% include 'partials/user_message.html' %}
                                {% else %}
                                    {% include 'partials/friend_message.html' %}
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="infinite-item">
                                {% if user.id == message.user.id %}
                                    {% include 'partials/user_message.html' %}
                                {% else %}
                                    {% include 'partials/friend_message.html' %}
                                {% endif %}
                            </div>
                        {% endif %}
                        
                        {% endfor %}
                        
                    
                </div>
                <div class="pt-4 pb-10 sm:py-4 flex items-center border-t border-gray-200 dark:border-dark-5">
                    <textarea id="chat-message-input" class="chat__box__input form-control dark:bg-dark-3 h-16 resize-none border-transparent px-5 py-3 shadow-none focus:ring-0" rows="1" placeholder="Type your message..."></textarea>
                    <a href="javascript:;" id="chat-message-submit" class="w-8 h-8 sm:w-10 sm:h-10 block bg-theme-1 text-white rounded-full flex-none flex items-center justify-center mr-5"> <i data-feather="send" class="w-4 h-4"></i> </a>
                </div>
            </div>
            <!-- END: Chat Active -->
        </div>
    </div>
    <!-- END: Chat Content -->
</div>
{% csrf_token %}
{% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
{% endif %} 

{{ chat.id|json_script:"chat_id" }}
{{ user.id|json_script:"user_id" }}
{% endblock %}
