<!-- BEGIN: Comments -->
<div class="intro-y mt-5 pt-5 border-t border-gray-200 dark:border-dark-5">
    <div class="text-base sm:text-lg font-medium">2 Responses</div>
    <div class="news__input relative mt-5">
        <i data-feather="message-circle" class="w-5 h-5 absolute my-auto inset-y-0 ml-6 left-0 text-gray-600"></i> 
        <textarea class="form-control border-transparent bg-gray-200 pl-16 py-6 placeholder-theme-8 resize-none" rows="1" placeholder="Post a comment..."></textarea>
    </div>
</div>
<div class="intro-y mt-5 pb-10">
    <div class="pt-5">
        <div class="flex">
            <div class="w-10 h-10 sm:w-12 sm:h-12 flex-none image-fit">
                <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full" src="{{post.image.url}}">
            </div>
            <div class="ml-3 flex-1">
                <div class="flex items-center"> <a href="" class="font-medium">Kevin Spacey</a> </div>
                <div class="text-gray-600 text-xs sm:text-sm">52 seconds ago</div>
                <div class="mt-2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
            </div>
        </div>
    </div>
    <div class="mt-5 pt-5 border-t border-gray-200 dark:border-dark-5">
        <div class="flex">
            <div class="w-10 h-10 sm:w-12 sm:h-12 flex-none image-fit">
                <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full" src="{{post.image.url}}">
            </div>
            <div class="ml-3 flex-1">
                <div class="flex items-center"> <a href="" class="font-medium">Brad Pitt</a> </div>
                <div class="text-gray-600 text-xs sm:text-sm">50 seconds ago</div>
                <div class="mt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
            </div>
        </div>
    </div>
</div>
<!-- END: Comments -->