<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Home</title>

    
    {% load staticfiles %}
  
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'ico/favicon.ico'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>

</head>

<body>
    
    <!-- navbar file inclusion -->
    {% include 'partials/navbar.html' %}
    

    {% block body %} {% endblock body %}
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block jscript %} {% endblock jscript %}
    
</body>
