{% extends "base.html" %}
{% block body %}

<div class="breadcumb-area" style="background-image: url({{blogpost.blog.picture.url}});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumb-title text-center">
                    <a href="{% url 'blog:detail' blogpost.blog.id  %}"><h2>{{blogpost.blog.blog_title}}</h2></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-7 col-md-offset-1 section_padding_80">
                <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                    <!-- Post Thumb -->
                    <div class="post-thumb text-center">
                        <img src="{{ blogpost.picture.url }}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <div class="post-meta d-flex">

                            <div class="post-author-date-area d-flex">
                                <!-- Post Author -->
                                <div class="post-author">
                                    <a href="#">By {{ blogpost.user.username }}</a>
                                </div>
                                <!-- Post Date -->
                                <div class="post-date">
                                    <a href="#">{{blogpost.creation_date|date:'d M Y'}} at {{blogpost.creation_date|date:'H:i'}}</a>
                                </div>
                            </div>

                            <div class="post-comment-share-area d-flex">
                                {% if  user in blogpost.likes.all %}
                                <!-- Post Like -->
                                <div class="post-favourite">
                                    <a href = "#" class="like_button" data-href="{% url 'blog:post_like' blogpost.id %}" data-post_id = "{{blogpost.id}}" ><i class="fa fa-heart liked" aria-hidden="true"></i>&nbsp;<span id = "like-counter">{{blogpost.likes.count}}</span> </a>
                                </div>
                                
                                {% else %}
                                <!-- Post Like -->
                                <div class="post-favourite">
                                    <a href = "#" class="like_button" data-href="{% url 'blog:post_like' blogpost.id %}" data-post_id = "{{blogpost.id}}" ><i class="fa fa-heart-o liked" aria-hidden="true"></i>&nbsp;<span id = "like-counter">{{blogpost.likes.count}}</span> </a>
                                </div>
                                {% endif %}
                                
                                <!-- Post Comments -->
                                <div class="post-comments">
                                    <a href="{% url 'blog:comment_create' blogpost.id %}"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<span id="comment-count">{{blogpost.comment_set.count}}</span></a>
                                </div>
                            </div>
                            
                        </div>
                        <a href="#">
                            <h2 class="post-headline">{{blogpost.post_title}}</h2>
                        </a>
                        <br>
                        <p>{{blogpost.post_text}}</p>
                    </div>
                </div>
                <div class="tags-area">
                    {% for tag in blogpost.tags.names %}
                        <a href="#">{{tag}}</a>
                    {% endfor %}      
                </div>
                
            
                <!-- Comment Area Start -->
                <div class="comment_area section_padding_50 clearfix col-6 col-md-offset-3">
                        <h4 class="comment-count-main">{{ blogpost.comment_set.count }} comments</h4>
                        <ol class="comment-list">
                        {% for comment in blogpost.comment_set.all %}
                        
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <div class="comment-wrapper d-flex">
                                    <!-- Comment Meta -->
                                    <div class="comment-author">
                                        <img src="" alt="">
                                    </div>
                                    <!-- Comment Content -->
                                    <div class="comment-content">
                                        <span class="comment-date text-muted">{{comment.creation_date|date:"j M Y"}} at {{comment.creation_date|date:"H:i"}}</span>
                                        <h5>{{comment.user.username}}</h5>
                                        <p>{{comment.comment_text}}</p>
                                    </div>
                                    <div class="post-comment-share-area d-flex">
            
                                            {% if user.id == comment.user.id %}
            
                                            <div class="post-comments">
                                                <div class="text-center">
                                                    <button data-url="{% url 'blog:comment_update' comment.id %}"  type="submit" class="btn btn-link">Update Comment</button>
                                                </div> 
                                            </div>
                                            {% endif %}
            
                                            {% if user.id == comment.user.id or user.is_superuser or user.id == blogpost.user.id %}  
                                            <div class="post-comments">
                                                <div class="text-center">
                                                    <button data-url="{% url 'blog:comment_delete' comment.id %}" type="button" class="btn btn-link btn-cdelete">Delete comment</button>
                                                </div>
                                            </div>
                                            {% endif %}
                                            
                                    </div>
                                </div>
                            </li>
                        
                        {% endfor %}
                        </ol>
                        
                        
                </div>
                    {% if user.is_authenticated %}
                <!-- Leave A Comment -->
                <div class="leave-comment-area section_padding_10 clearfix col-12   ">
                    <div class="comment-form text-center">
            
                        <!-- Comment Form -->
                        <form data-action="{% url 'blog:comment_create' blogpost.id %}" method="post" class="comment-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea class="form-control comment-text" name="comment_text" id="id_comment_text" maxlength="3000" cols="30" rows="10" placeholder="Add your comment here" required ></textarea>
                            </div>
                            <button type="submit" class="btn contact-btn" id="comment-post">Post Comment</button>
                        </form>

                    </div>
                </div>

                {% else %}
                <div class="text-center"><h1><strong>Login to leave comments</strong></h1></div>
                {% endif %}
            
            </div>

            <div class="col-2 col-sm-8 col-md-2 col-lg-4 section_padding_100">
                <div class="blog-sidebar mt-5 mt-lg-0">
                    {% if user.id == blogpost.user.id %}
                        
                    <div class="post-comments">
                            <form action="{% url 'blog:post_update' blogpost.id %}" method="post" visible = "off">
                                    {% csrf_token %}
                                    <div class="text-center">
                                            <button type="submit" class="btn contact-btn">Update post</button>
                                    </div>
                            </form>
                            
                    </div>
                    <br><br>
                    <div class="post-comments">
                        <form action="{% url 'blog:post_delete' blogpost.id %}" method="post" visible = "off">
                                {% csrf_token %}
                                <div class="text-center">
                                        <button type="submit" class="btn contact-btn">Delete post</button>
                                    </div>
                        </form>
                        
                    </div>
                    {% endif %}
                </div>
                      
            </div> 
</div>

<!-- Single Comment Area -->
<li class="single_comment_area hidden" id="emptycom">
    <div class="comment-wrapper d-flex">
        <!-- Comment Meta -->
        <div class="comment-author">
            <img src="" alt="">
        </div>
        <!-- Comment Content -->
        <div class="comment-content">
            <span class="comment-date text-muted" id="comdate"></span>
            <h5 id="comuser">{{comment.user.username}}</h5>
            <p id="comtext">{{comment.comment_text}}</p>
            <!-- <a href="#">Like</a>
            <a class="active" href="#">Reply</a> -->
        </div>
        <div class="post-comment-share-area d-flex">

                <div class="post-comments">
                    <div class="text-center">
                        <button data-url="{% url 'blog:comment_update' 0 %}"  type="submit" class="btn btn-link">Update Comment</button>
                    </div> 
                </div>
                  
                <div class="post-comments">
                    <div class="text-center">
                        <button data-url="{% url 'blog:comment_delete' 0 %}" type="button" class="btn btn-link btn-cdelete">Delete comment</button>
                    </div>
                </div>
               
                
        </div>
    </div>
</li>      

{% endblock body %}

{% block script %}

{% load staticfiles %}
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/post-delete-update-comment.js' %}"></script>
    
{% endblock script %} 


