{% extends "base.html" %}

{% block body %}

{% include "partials/blog_breadcumb.html" with blog=blogpost.blog %}

<div class="row">
    <section class="col-md-6 col-md-offset-1">   
            <div class="post-thumb pl-25">
                {% include "partials/post_content.html" with post=blogpost %}
            </div>
            
    </section>
        
    <section class="col-md-offset-2 col-md-2">
        {% include "partials/about_me.html" %}
        
        {% if user.id == blogpost.user.id %}
            {% include "partials/blogpost_action_buttons.html" %}
        {% endif %}
        
    </section>
</div>

{% endblock body %}

{% block jscript %}

{% load static %}
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/post-delete-update-comment.js' %}"></script>
{% endblock jscript %}