{% extends "base.html" %}

{% block body %}

{% include "partials/blog_breadcumb.html" %}

<div class="row">
    <section class="col-md-4 col-md-offset-1">   
            <div class="post-thumb pl-25">
                {% include "partials/post_thumb.html"  with blogpost=post  %}
            </div>
    </section>
        
    <section class="col-md-offset-2 col-md-3">
        {% include "partials/about_me.html" %}
        {% if user.id == blog.user.id %}
            {% include "partials/blogpost_action_buttons.html" %}
        {% endif %}
    </section>
</div>

{% endblock body %}
