{% extends 'base.html' %}
{% comment %} <form action="{% url 'blog:search_tag' %}" method="GET" >
    <input type="text" placeholder="search" name = "tag_search" >
    <button type="submit">Submit</button>

</form>

{% for blog in object_list %}
<h1><a href="{% url 'blog:detail' blog.id %}">{{ blog.blog_title }}</a></h1>
<br>
<h2>{{ blog.user.username }}</h2>
<br>
<form id="my_form" method="post" action="{% url 'blog:blog_delete' blog.id %}">
    {% csrf_token %}
    {% if user == blog.user %}
    <button type="submit" >Delete blog</button>
    {% endif %}
</form>

<hr>
{% endfor %}
<a href="{% url 'blog:blog_create' %}">New Blog</a>
<br>
<a href="{% url 'blog:category' %}"> Categories </a> {% endcomment %}

{% block body %}

<section class="welcome-post-sliders owl-carousel">

        <!-- Single Slide -->
        {% for blog in object_list %}
            <div class="welcome-single-slide">
                <!-- Post Thumb -->
                <img src="{{ blog.picture.url }}" alt="">
                <!-- Overlay Text -->
                <div class="project_title">
                    <div class="post-date-commnents d-flex">
                        <a href="#">{{blog.creation_date|date:'d M Y'}}</a>
                        <a href="#">{{blog.user.username}}</a>
                    </div>
                    <a href="#">
                        <h5>{{ blog.blog_title }}</h5>
                    </a>
                </div>
            </div>
        {% endfor %}
        


    </section>

{% endblock body %}


