{% extends 'base.html' %}   
{% block title %}Welcome to Blogo{% endblock title %}

{% block body %}

<section class="welcome-post-sliders owl-carousel">
        <!-- Single Slide -->
        {% for blog in all_blogs %}
            <div class="welcome-single-slide">
                <!-- Post Thumb -->
                <img src="{{ blog.picture.url }}" alt="" height="300" width="400">
                <!-- Overlay Text -->
                <div class="project_title">
                    <div class="post-date-commnents d-flex">
                        <a href="#">{{blog.creation_date|date:'d M Y'}}</a>
                        <a href="#">{{blog.user.username}}</a>
                    </div>
                    <a href="{% url 'blog:detail' blog.id %}">
                        <h5>{{ blog.blog_title }}</h5>
                    </a>
                </div>
            </div>
        {% endfor %}
</section>

<div class="text-center">
    <form action="{% url 'blog:blog_create'%}" method="post">
            {% csrf_token %}
            <h4 class="mb-30"><button type="submit" class="btn contact-btn">Make your own blog</button></h4>
    </form>
</div>

<section class="categories_area clearfix" id="about">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="single-widget-area about-me-widget text-center">
                    <div class="widget-title">
                        <h6>Categories</h6>
                    </div>
            </div>
        </div>
    </div>

    <div class="text-center"><h1> <strong>Browse something new!</strong> </h1></div>
    <br>
        
    <div class="container">
        <div class="row">
            
            {% for category in all_categories %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
                    <img src="{{ category.picture.url }}" alt="" height="300" width="400">
                    <div class="catagory-title">
                        <a href="{% url 'blog:category_detail' category.id %}">
                            <h5> {{ category.name }} </h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>

<section class="blog_area section_padding_0_80">

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="single-widget-area about-me-widget text-center">
                        <div class="widget-title">
                            <h6>Popular posts</h6>
                        </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row">

                        {% for featured_post in featuredd_post %}
                        <!-- Single Post -->
                        <div class="col-12">
                            <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="{{ featured_post.picture.url }}" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">By {{ featured_post.user.username }}</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">{{featured_post.creation_date|date:'d M Y'}} at {{featured_post.creation_date|date:'H:i'}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'blog:blogpost_detail' featured_post.id %}">
                                        <h2 class="post-headline">{{featured_post.post_title}}</h2>
                                    </a>
                                    <p>{{featured_post.post_text}}</p>
                                    <a href="{% url 'blog:blogpost_detail' featured_post.id %}" class="read-more">Continue Reading..</a>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                        

                        {% for post in all_posts %}
                            <!-- Single Post -->
                        <div class="col-12">
                                <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".8s">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img src="{{ post.picture.url }}" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <div class="post-meta d-flex">
                                            <div class="post-author-date-area d-flex">
                                                <!-- Post Author -->
                                                <div class="post-author">
                                                    <a href="#">{{ post.user.username }}</a>
                                                </div>
                                                <!-- Post Date -->
                                                <div class="post-date">
                                                    <a href="#">{{post.creation_date|date:'d M Y'}} at {{post.creation_date|date:'H:i'}}</a>
                                                </div>
                                            </div>
                                            <!-- Post Comment & Share Area -->
                                           
                                        </div>
                                        <a href="{% url 'blog:blogpost_detail' post.id %}">
                                            <h4 class="post-headline">{{post.post_title}}</h4>
                                        </a>
                                        <p>{{post.post_text}}</p>
                                        <a href="{% url 'blog:blogpost_detail' post.id %}" class="read-more">Continue Reading..</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                        

                    </div>
                </div>

                <!-- ****** Blog Sidebar ****** -->
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="blog-sidebar mt-5 mt-lg-0">
                        <!-- Single Widget Area -->
                        <!-- <div class="single-widget-area about-me-widget text-center">
                            <div class="widget-title">
                                <h6>About Me</h6>
                            </div>
                            <div class="about-me-widget-thumb">
                                <img src="img/about-img/1.jpg" alt="">
                            </div>
                            <h4 class="font-shadow-into-light">Shopia Bernard</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                        </div> -->

                        <!-- Single Widget Area -->
                        <!-- <div class="single-widget-area popular-post-widget">
                            <div class="widget-title text-center">
                                <h6>Populer Post</h6>
                            </div> -->
                            <!-- Single Popular Post -->
                            <!-- <div class="single-populer-post d-flex">
                                <img src="img/sidebar-img/1.jpg" alt="">
                                <div class="post-content">
                                    <a href="#">
                                        <h6>Top Wineries To Visit In England</h6>
                                    </a>
                                    <p>Tuesday, October 3, 2017</p>
                                </div>
                            </div>
                          
                        </div> -->

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Blog Area End ****** -->
{% endblock body %}


